<div class="join-container">
    <header class="join-header">
        <h1>Y<i class="fas fa-egg"></i>KE</h1>
    </header>
    <main class="join-main">
        <form action="/chatroom">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username..." required />
            </div>
            <div class="form-control">
                <label for="room">Select Room</label>
                <select name="room" id="room">
                    <!-- Example options for now --> 
                    <option value="Coding">Coding</option>
                    <option value="Animals">Animals</option>
                </select>
            </div>
            <div>
                 <label for="username">Create New Topic</label>
                <input type="text" name="newTopic" id="newTopic" placeholder="Enter a topic" />
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>