<a href="#" class="btn" id="default">style1</a>
<a href="#" class="btn" id="style2">style2</a>
<a href="#" class="btn" id="style3">style3</a>
<div class="join-container">
    <header class="join-header">
        <h1>Y <i class="fas fa-egg"></i> K E</h1>
    </header>

    <main class="join-main">
        <form action="/chatroom">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username..." required />
            </div>
            <div>
                <label for="room">Select Room</label>
                <select name="room" id="room">
                </select>
            </div>
            <div>
                <label for="new-topic">Create New Topic</label>
                <input type="text" name="new-topic" id="new-topic" placeholder="Enter a topic" />
                <input type="button" id="add-topic" value="Insert" />
            </div>
            <button type="submit" class="btn" id="join-btn">Join Chat</button>
        </form>
    </main>
</div>
