<div class="">
    <header class="">
        <h1>Yoke</h1>
    </header>
    <main class="">
        <form>
            <div class="">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username..." required />
            </div>
            <div class="">
                <label for="topic">Select Topic</label>
                <select name="topic" id="topic">
                    <!-- Example options for now --> 
                    <option value="Coding">Coding</option>
                    <option value="Animals">Animals</option>
                </select>
            </div>
            <div>
                 <label for="username">Create New Topic</label>
                <input type="text" name="newTopic" id="newTopic" placeholder="Enter a topic"/>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>