@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: rgb(52, 60, 65);
    margin: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    background: rgb(113, 148, 167);
    color: rgb(247, 244, 241);
    border: 3;
    font-size: 17px;
    border-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-weight: bolder;
}

/* Chat Page */

.chat-container {
    max-width: 1100px;
    background: rgb(223, 220, 220);
    margin: 30px auto;
    overflow: hidden;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.chat-header {
    background: rgb(113, 148, 167);
    color: rgb(2, 2, 2);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnTwo {
    background-color: rgb(35, 88, 108);
    color: rgb(241, 240, 237);
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.chat-sidebar {
    background: rgb(35, 88, 108);
    color: rgb(244, 244, 244);
    padding: 20px 20px 60px;
    overflow-y: scroll;
    padding-bottom: 300px;
}

.chat-sidebar h2 {
    font-size: 16px;
    background: rgba(247, 241, 241, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(52, 60, 65);
    border-radius: 5px;
    overflow-wrap: break-word;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.chat-messages .message .meta {
    font-size: 18px;
    font-weight: bolder;
    color: rgb(251, 251, 251);
    opacity: 0.7;
    margin-bottom: 7px;
    text-decoration: underline;
    font-weight: bolder;
}

.chat-messages .message .meta span {
    color: rgb(249, 249, 249);
    text-decoration: underline;
    font-size: 18px;

}

.chat-form-container {
    padding: 30px 40px;
    background-color: rgb(113, 148, 167);
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
    background-color: rgb(223, 220, 220);
}

.chat-form-container .btn {
    background: rgb(35, 88, 108);
    color: rgb(247, 245, 245);
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/* Join Page */

.join-container {
    max-width: 500px;
    margin: 80px auto;
    color: rgb(3, 3, 3);
}

.join-header {
    text-align: center;
    padding: 20px;
    background-color: rgb(113, 148, 167);

}

.join-main {
    padding: 30px 40px;
    background-color: rgb(35, 88, 108);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.join-main .form-control {
    margin-bottom: 50px;
}

.join-main label {
    color: rgb(247, 248, 248);
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.join-main input[type="text"] {
    color: rgb(5, 5, 5);
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.join-main input[type="button"] {
    background-color: rgb(52, 60, 65);
    color: rgb(245, 244, 244);
    margin-top: 10px;
    width: 50%;
    margin-left: 110px;
}

.join-main select {
    color: black;
    font-size: 16px;
    padding: 4px;
    height: 30px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.join-main .btn {
    margin-top: 30px;
    width: 100%;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}
